.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    border-color: white transparent red transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: blueviolet transparent yellow transparent;
  }
}

@media screen and (max-width: 960px) {
  .spinner {
    display: inline-block;
    width: 60px;
    height: 60px;
  }

  .spinner:after {
    content: ' ';
    display: block;
    width: 44px;
    height: 44px;
    margin: 6px;
  }
}

@media screen and (max-width: 768px) {
  .spinner {
    display: inline-block;
    width: 35px;
    height: 35px;
  }

  .spinner:after {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    margin: 10px;
  }
}
