/* ---------- IMPORT FONTS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Oswald&family=Roboto&family=Square+Peg&display=swap');

/* ---------- IMPORT CUSTOM CSS ---------- */
@import '../layouts/Header.css';
@import '../layouts/Footer.css';
@import '../components/Buttons/Button.css';
@import '../containers/SectionOne.css';
@import '../components/UI/LoadingSpinner.css';

/* ---------- IMPORT TAILWINDCSS ---------- */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-sky: 14 165 233;
    --color-purple: 168 85 247;
    --color-pink: 236 72 153;
    --color-emerald: 20 184 166;
    --color-orange: 249 115 22;

    --color-circa: var(--color-sky);
  }

  html,
  body {
    font-family: 'Catamaran', sans-serif;
    @apply p-0 m-0;
  }

  * {
    @apply box-border;
  }

  .not-found {
    @apply flex h-[90vh] items-center justify-center text-center text-sm sm:text-lg md:text-xl transition-all ease-in bg-[#1c2237] text-[#f00946];
  }

  .spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: -15px;
  }

  .spinner:after {
    content: ' ';
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid teal;
    border-color: teal transparent teal transparent;
    animation: spinner 1.8s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
      border-color: white transparent red transparent;
    }
    100% {
      transform: rotate(360deg);
      border-color: blueviolet transparent yellow transparent;
    }
  }

  @media screen and (max-width: 960px) {
    .spinner {
      display: inline-block;
      width: 60px;
      height: 60px;
    }

    .spinner:after {
      content: ' ';
      display: block;
      width: 44px;
      height: 44px;
      margin: 6px;
    }
  }

  @media screen and (max-width: 768px) {
    .spinner {
      display: inline-block;
      width: 35px;
      height: 35px;
    }

    .spinner:after {
      content: ' ';
      display: block;
      width: 14px;
      height: 14px;
      margin: 10px;
    }
  }
}
